*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html, body{
    height: 100%;

}
html{
    scroll-behavior: smooth;
}

.clear{
    clear: both;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
}

.bg{
    position: relative;
    width: 100%;
    min-height: 700px;
    padding: 15px 0;
    background-image: url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.icons-socials{
    z-index: 3;
    position: relative;
    margin-right: 30px;
}

.menu{
    z-index: 2;
}
.font-menu a{
    font-size: 17px;
}

.icons-socials a{
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

.content {
    margin-top: 80px;
    position: relative;
    width: 100%;
    max-width: 900px;
    padding: 15px 2% 0 10%;
    color: white;
    z-index: 2;
}

.paragrafo-conteudo{
    margin-top: 40px;
}

.button-saiba-mais{
    margin-top: 40px;
    margin-left: 30px;
    border-radius: 25px;

}

.planos{
    padding: 15px 2%;
    background-color: rgb(230,230,230);
    text-align: center;
}

.line{
    width: 300px;
    height: 2px;
    background-color: #2692ff;
    margin: 0 auto;
    margin-top: 20px;
}

.planos h5{
    color: #2692ff;
}




.container-quadrados {
    width: 100%;
    padding: 50px 4%;
    display: flex;
    justify-content: space-around;
}

.quadrado {
    border: 1px solid rgb(150, 150, 150);
    box-shadow: 4px 4px #4d4d4d;
    width: 100%;
    max-width: calc(70% / 3);
    text-align: center;
}

.titulo-quadrado {
    width: 100%;
    padding: 20px;
    background-color: #2692ff;
}
.titulo-quadrado h6{
    font-size: 21px;
    color: white;
}

.container-conteudo-quadrado {
    padding: 30px;
}

.container-icons{
    display: flex;
    margin-top: 14px;
}
.container-icons span{
    margin-left: 5px;
}

.resultado{
    margin-top: 45px;
}

.line-gray{
    margin: 0 auto;
    width: 100%;
    max-width:160px;
    height: 1px;
    background-color: #4d4d4d;
}

.resultado h6{
    font-size: 23px;
    color: #4d4d4d;
}


            /*  SECTION SOBRE DO SITE  */


.container-section-sobre{
    text-align: center;
    position: relative;
}

.imagem-sobre{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 400px;
    background-image: url('https://s.zst.com.br/cms-assets/2020/11/perif-ricos.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
}
.background-sobre{
    background-color: rgba(20,20,20,0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 400px;
    z-index: 2;
}

.text-sobre{
    margin: 0 auto;
    position: relative;
    min-height: 400px;
    z-index: 3;
    padding: 20px 4%;
    width: 100%;
    max-width: 900px;;
    color: white;
}
.text-sobre h3{
    font-size: 40px;
    margin-bottom: 20px;
}
.text-sobre p{
    margin-top: 20px;
    text-align: justify;
}



        /*  SECTION CONTATO  */


.contato{
    padding: 20px 2%;
    display: flex;
}
.container-form {
    width: calc(100% / 2);
}
.form-contato{
    padding: 30px 4% 0 4%;
}
.form-contato h4{
    font-size: 25px;
    font-weight: lighter;
    color: #777777;
}
.border-input{
    border: 1px solid black;
}

#button-enviar{
    color: white;
}

.button-submit{
    margin: 20px 20px;
}

.equipe{
    padding: 20px 2%;
    width: calc(100% / 2);
}
.equipe h2{
    font-size: 23px;
    font-weight: lighter;
    color: #777777;
}
.container-equipe{
    display: flex;
}
.w50{
    width: calc(80% / 2);
    margin-left: 30px;
}
.descricao-usuario-box{
    width: 100%;
    max-width: 200px;
    margin-top: 10px;
}
.equipe-single .box-avatar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 4rem;
    background-color: #ccc;
    object-fit: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.box-avatar .bg-animation-avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-image: linear-gradient(#5490ff 40%, #1c005a 60%);
    box-shadow: 0 0 80px #8a54ff;
    width: 65px;
    height: 65px;
    animation: rotate 3s linear infinite;
    border-radius: 50%;
    z-index: 0;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.photo-avatar{
        position: absolute;
        width: 3rem;
        height: 3.5rem;
        background-color: #ccc;
        object-fit: cover;
        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
        object-fit: cover;
        z-index: 0;
}
.photo-avatar img{
    width: 3rem;
    height: 3.5rem;
    object-fit: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
.descricao-usuario-box p{
    text-align: justify;
}

        /* FOOTER */

footer{
    width: 100%;
    padding: 10px 2%;
    text-align: center;
    color: white;
    background-color: #444;
}




@media screen and (max-width: 500px) {
    .icons-socials{
        margin-right: 10px;
    }
    .icons-socials a{
        margin-left: 9px;
    }

    .content {
        text-align: center;
        margin-top: 30px;
        padding: 15px 4%;
    }
    .content h3{
        text-align: center;
        font-size: 34px;
    }
    .paragrafo-conteudo{
        padding: 0 5%;
    }
    .paragrafo-conteudo p{
        text-align: justify;
    }


    .container-quadrados {
        width: 100%;
        padding: 50px 4%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .quadrado {
        width: 100%;
        max-width: 80%;
        margin-top: 40px;
    }
    .quadrado:nth-of-type(1){
        margin-top: 0;
    }

    .button-saiba-mais{
        margin-top: 50px;
        margin-bottom: 35px;
        border-radius: 25px;
    
    }


    /*  SECTION SOBRE  */


    .imagem-sobre,
    .background-sobre{
        min-height: 570px;
    }

    .text-sobre p{
        font-size: 14px;
    }

    .text-sobre h3{
        font-size: 25px;
        margin-bottom: 30px;
    }

    .text-sobre{
        padding: 20px 5%;
    }


    /*  section contato  */


.contato{
    display: block;
}
.container-form {
    width: 100%;
}

.form-contato{
    padding: 0 4%;
}
.form-contato h4{
    text-align: center;
}
.button-submit{
    text-align: center;
}

.equipe{
    width: 100%;
    text-align: center;
    padding: 5px 2%;
}
.w50{
    width: calc(80% / 2);
    margin-left: 0px;
}
.container-equipe{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.descricao-usuario-box{
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
}
.container-avatar{
    display: flex;
    justify-content: center;
}

}